

/* Mobile Responsive */
@media screen and (max-width: 576px) {
    /* Shared Style */
    .section-title{
        font-size: 32px;
    }

    /* Header & Banner Section */
    .menu-area{
        display: none;
    }
    .icon{
        display: block;
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
        margin-top: 40px;
    }
    .banner-title, .banner-description{
        padding-right: 100px;
    }
    .banner-title{
        font-size: 36px;
    }
    .banner-content .btn-primary{
        width: calc(50% - 14px);
    }
    .banner-img{
        /* width: 100%; */
        width: 95%;
    }
    .watch-video1{
        right: 10px;
        top: 60px;
    }
    .watch-video2{
        bottom: 150px;
        right: 170px;
    }

    /* Habits Section */
    .habits-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-item{
        margin-bottom: 40px;
    }

    /* Run Section */
    .run-section{
        flex-direction: column;
        margin: 50px auto;
    }
    .run-content{
        width: 100%;
    }
    .run-img{
        width: 100%;
        justify-content: center;
        margin-top: 40px;
    }
    .run-content .btn-primary{
        width: 100%;
    }

    /* BMI Calculator */
    .calculate-chart-and-bmi-area{
        flex-direction: column;
        margin-top: 32px;
    }
    .calculate-chart-area{
        width: 100%;
    }
    .bmi-area{
        width: 100%;
    }
    .bmi-area form{
        width: 90%;
    }
    .caption{
        font-size: 16px;
        text-align: left;
        margin-bottom: 25px;
    }
    table{
        margin-bottom: 40px;
    }

    /* Our Team Section */
    .our-team .section-title-and-description{
        margin: 0;
    }
    .team-members{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-team .member img{
        height: 300px;
    }

    /* Footer Section */
    .descriptions-and-services{
        flex-direction: column;
    }
    .fitness-area{
        width: 100%;
    }
    .services-area{
        flex-direction: column;
        width: 100%;
    }
    .services{
        align-items: start;
        margin-top: 40px;
    }
    .services h3{
        margin-bottom: 20px;
    }
}