
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Shared Style */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    background-color: black;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
.btn-primary{
    background-color: #E6533C;
    width: 224px;
    height: 54px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 42px;
}
.section-title-and-description{
    max-width: 671px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}
.section-title{
    font-size: 48px;
    font-weight: 900;
    color: #FFFFFF;
    text-align: center;
}
.section-description{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF80;
    text-align: center;
    line-height: 24px;
    margin-top: 14px;
}
.text-left{
    text-align: left;
}

/* Header Section Start Here */
header{
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background: linear-gradient(to bottom, #111010, #1d1b1b, #080808);
}
.logo-and-menu-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
}
.logo{
    font-size: 36px;
    font-weight: 800;
    color: #E6533C;
}
.menu-area ul{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.menu-area ul li{
    display: inline-block;
    padding: 13px;
}
.menu-area ul li a{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
.menu-area .btn{
    width: 224px;
    height: 54px;
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
}
.banner-section{
    display: flex;
    margin-top: 30px;
}
.banner-content{
    width: 50%;
    margin-top: 96px;
}
.banner-img{
    display: flex;
    justify-content: end;
    width: 50%;
    padding-right: 50px;
    position: relative;
}
.banner-title{
    font-size: 78px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 120%;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin: 28px 0;
}
.download-btn{
    background-color: #000000;
    border: 1px solid #ffffff;
    margin-left: 14px;
}
.watch-video1, .watch-video2{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    align-items: center;
    justify-content: center;
}
.watch-video1{
    position: absolute;
    right: -37px;
    top: 135px;
}
.watch-video2{
    position: absolute;
    bottom: 65px;
    right: 290px;
}
.watch-video2 .watch-icon{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watch-content{
    margin-left: 12px;
}
.watch-content h1{
    font-size: 24px;
    font-weight: 900;
    color: #FAFAF9;
    margin-bottom: 8px;
}
.watch-content p{
    font-size: 16px;
    font-weight: 400;
    color: #EFEDE8A6;
}


/* Habits Section Start Here */
.habits-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 40px; */
    margin-top: 58px;
}
 .habit-item .img{
    display: flex;
    justify-content: center;
 }
.habit-item img{
    border-radius: 50%;
}
.item-content{
    max-width: 231px;
    margin: 0 auto;
}
.item-title{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    margin: 30px 0 6px 0;
}
.habits-items .section-description{
    margin-top: 0;
}


/* Run Section Start Here */
.run-section{
    display: flex;
    margin: 100px auto;
    background-color: #222222;
    padding: 40px 50px;
    border-radius: 18px;
}
.run-content{
    width: 50%;
}
.run-content .section-content{
    max-width: 443px;
}
.run-content .btn-primary{
    margin-top: 34px;
}
.run-img{
    width: 50%;
    display: flex;
    justify-content: end;
}
.run-img img{
    max-width: 366px;
    border-radius: 8px;
}


/* BMI Calculator Section Start Here */
.calculate-chart-and-bmi-area{
    display: flex;
    margin-top: 88px;
    padding-top: 50px;
}
.bmi-calculator-section{
    background-color: #222222;
}
.calculate-chart-area{
    width: 40%;
}
.caption{
    font-size: 28px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 52px;
}
.calculate-chart-area table, th, td{
    border: 1px solid #FFFFFF1A;
    border-collapse: collapse;
}
.calculate-chart-area thead{
    color: #ffffff;
}
.calculate-chart-area tbody{
    color: #FFFFFF80;
    font-size: 14px;
}
.calculate-chart-area td{
    padding: 10px 20px;
}
.bmi-area{
    width: 60%;
}
.title{
    margin-bottom: 0;
}
.bmi-area form{
    margin: 34px 0;
}
form .d-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}
form input{
    width: 100%;
    background-color: #FFFFFF1A;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    margin: 6px;
    color: #ffffff;
}
.bmi-area .btn-primary{
    margin-top: 34px;
}